.gradientText {
  background: #59C173;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #021B79, #4286f4, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021B79, #4286f4, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
